<div class="row">
  <div class="col-md-12">
    <div class="d-flex justify-content-center">
      <h2>
        Directives
      </h2>
    </div>
  </div>
  <div class="col-md-5">
    <h2 style="font-weight: bold;">Structul Directives</h2>
    <br />
    <h2>*ngIf</h2>
    <input type="text" [(ngModel)]="name" />
    <button (click)="changeTitle()">Title Toogle</button>
    <br />
    <p *ngIf="name === 'Atilla'">Ismin Atilla</p>
    <p *ngIf="title">title ....</p>

    <br />
    <div *ngIf="title; then isTitleExist; else isnotTitleExist"></div>
    <ng-template #isTitleExist>Tittle VAR templati</ng-template>
    <ng-template #isnotTitleExist>Tittle YOK templati</ng-template>
  </div>
  <div class="col-md-4">
    <h2 style="font-weight: bold;">*ngSwitch</h2>
    <input type="text" [(ngModel)]="username" />

    <ul [ngSwitch]="username">
      <li *ngSwitchCase="'Atilla'">Merhaba Atilla</li>
      <li *ngSwitchCase="'Zeynep'">Merhaba Zeynep</li>
      <li *ngSwitchDefault>Hello Zusasamen</li>
    </ul>
  </div>

  <div class="col-md-4">
    <h4>*ngFor</h4>
    <ul>
      <li *ngFor="let city of cities; let i = index">
        id: {{ city.id }} <br />
        Sehir: {{ city.city }} <br />
        Bolge: {{ city.region }}
      </li>
    </ul>
  </div>
</div>
<br />
<h3 style="font-weight: bold;">Attiribute Directive</h3>
<div class="row">
  <div class="col-md-4">
    <h4>[ngClass]</h4>
    <input type="text" [(ngModel)]="color" />
    <p [ngClass]="color === 'red' ? 'red' : 'blue'">Renk</p>
    <p
      [ngClass]="{
        red: color === 'red',
        blue: color === 'blue'
      }"
    >
      Yeni Renk
    </p>
  </div>
  <div class="col-md-3">
    <h2>ngStyle</h2>
    <input type="text" [(ngModel)]="color" />
    <p [ngStyle]="{ color: color }">
      Hangi renk istersen
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 style="font-weight: bold;">Custom Directive</h2>
  </div>
  <br />
  <div class="col-md-4">
    <p appHighlight>Highlight Directive Works</p>
  </div>
</div>
