<div class="row">
  <div class="col-md-3">
    <h3>lowercase Pipe</h3>
    <p>Normal Hali: {{ title }}</p>
    <p>Lowercase Hali: {{ title | lowercase }}</p>
    <p>Lowercase Hali: {{ title | titlecase }}</p>
    <p>Turkish Hali: {{ upperCaseVal }}</p>
  </div>
  <div class="col-md-4">
    <h3>Date Pipe</h3>
    <p>Normal Date: {{ today }}</p>
    <p>Pipe Date: {{ today | date }}</p>
    <p>custom Date: {{ today | date: "fullDate" }}</p>
    <!--    <p>Turkish Date: {{ today | date: "longDate":"":"tr-TR" }}</p>-->
  </div>

  <div class="col-md-4">
    <h3>curreny pipe</h3>
    <p>Normal currency {{ cashValue | currency: "TR" }}</p>
    <!--    <p>-->
    <!--      Local currency-->
    <!--      {{ cashValue | currency: "TRY":"symbol":"1.2-2":"tr-TR" }}-->
    <!--    </p>-->
  </div>
  <div class="col-md-3">
    <h3>Json Pipe</h3>
    <h4>without Pipe</h4>
    <p>{{ objectVal }}</p>
    <h4>With Pipe</h4>
    <p>{{ objectVal | json }}</p>
  </div>

  <div class="col-md-3">
    <h2>percent pipe</h2>
    <p>{{ percentValu | percent }}</p>
  </div>

  <div class="col-md-2">
    <h2>slice pipe</h2>
    <p>normal pipe: {{ city | slice: 0:3 }}</p>
    <p>slice uppercase pipe: {{ city | slice: 0:3 | uppercase }}</p>
  </div>

  <div class="col-md-4">
    <h2>custom pipe</h2>
    <p>{{ cash | TL }}</p>
    <h4>Cities</h4>
    <p>Custom pipe 2</p>

    <ul>
      <li *ngFor="let cityler of cities | myFiltering: '{{arguman}}'">
        {{ cityler }}
      </li>
    </ul>
  </div>

  <div class="col-md-2">
    <h3>ng model deneme</h3>
    <input type="text" [(ngModel)]="arguman" />
    <p>{{ arguman }}</p>
  </div>
</div>
