<app-navbar></app-navbar>
<!-- <div class="row">
  <div class="col-md-3">
    <h1 routerLink="home">go to home</h1>
  </div>
  <div class="col-md-3">
    <h1 routerLink="role">go to role</h1>
  </div>
  <div class="col-md-3">
    <h1 routerLink="user">go to user</h1>
  </div>
  <div class="col-md-3">
    <h1 [routerLink]="['user', 7]">go to user 7</h1>
  </div>
</div> -->

<div class="row">
  <div class="col-md-3">
    <app-sidebar></app-sidebar>
    <!-- <ol>
      <li routerLink="home">Home</li>
      <li routerLink="role">Role</li>
      <li routerLink="user">User</li>
    </ol>

    <ol>
      <li [routerLink]="['user', 7]">User-detail</li>
      <li [routerLink]="['user', 7, 'role']">User-role</li>
    </ol>
  </div> -->
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>

  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="ball-scale-multiple"
    [fullScreen]="false"
  >
    <p style="font-size: 20px; color: white;">Loading...</p>
  </ngx-spinner>
</div>
