<div class="row">
  <div class="col-md-9 offset-3">
    <form
      action=""
      #roleForm="ngForm"
      class="form-group"
      (ngSubmit)="addRole(roleForm)"
    >
      <label for="name">Name</label>
      <input type="text" name="name" ngModel />
      <label for="id">Id</label>
      <input type="text" name="id" ngModel />
      <button type="submit">Kaydet</button>
    </form>
    <button (click)="editNewRole(roleForm)">Duzenle</button>
    <button (click)="deleteNewRole(roleForm)">Sil</button>
  </div>
</div>

<ul>
  <li *ngFor="let role of roleData[0]?.data">
    {{ role._id }} - {{ role.name }}
  </li>
</ul>
